body{
  background-color: black;
}
.navbar-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-family: 'Poppins';
  font-size: smaller;
  width: 100%;
  height: 5vh;
}
.button{
  background-color: black;
  color: white;
  font-weight: 900;
  border-style: hidden;
  
}